* {
  box-sizing: border-box;
}

p,
.state-name {
  margin: 1px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.card-list {
  width: 85vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  background-color: #ffffff;
  border-radius: 10px;
}

.card-list-india {
  width: 85vw;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.card-container {
  color: #0f0f0f;
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 10px;
}

.card-container-india {
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  /* background-color: #3e5eb3; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bg.png);
  background-size: cover;
  background-position: left bottom;
  border-radius: 10px;
  cursor: pointer;
}

.card-list:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.newcase {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.new-r-case {
  font-size: 12px;
  font-weight: bold;
  color: red;
}

.new-g-case {
  font-size: 12px;
  font-weight: bold;
  color: green;
}

.total-num {
  font-weight: bold;
  font-size: 30px;
}

.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 30px 0px 40px 0px;
}

@media screen and (max-width: 1024px) {
  p,
  .p1,
  .new-r-case,
  .new-g-case {
    font-size: 11px;
    display: block;
  }

  .state-name {
    font-size: 11px;
    font-weight: bold;
  }

  .card-list {
    width: 100%;
    display: block;
    padding: 0px;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .card-list-india {
    width: 100%;
    display: block;
  }

  .card-container {
    margin: 0px;
    padding: 20px 2px;
  }

  .card-container-india {
    font-size: 14px;
    margin: 10px;
  }

  .total-num {
    font-weight: bold;
    font-size: 20px;
    padding-top: 8px;
  }

  .card-body {
    grid-gap: 40px;
  }

  .newcase {
    display: block;
    font-size: 14px;
  }
}

.flag {
  width: 20px;
  height: auto;
  margin-left: 5px;
}
