input[type=search] {
    font-weight: bold;
    font-size: 16px;
    width: 25%;
    padding: 12px 20px;
    margin: 20px 0px 10px 0px;
    display: inline-block;
    border: 2px solid #747473;
    border-radius: 4px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

    input[type=search] {
        width: 85vw;
    }

}